

.events-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin-top: 50px;
    /* padding: 40px 0 20px 0; */
  }
  
  /* --color-blue-red: #511948; */
  
  @media screen and (min-width: 992px) {
    
  
    .events-box {
      flex-direction: row;
      flex-wrap: wrap;
      margin: 50px 0;
    }
  }
  