/* container */

.titulo {
  width: 100%;
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 1px solid black; */
}

/* texto */
.titulo__texto {
  font-family: "Courier New", Courier, monospace;
  font-size: 2rem; /* 16px - elemento root/body*/
  text-transform: uppercase;
  /* border: 1px solid red; */
}
/* linha decorativa */
.titulo__linha {
  width: 200px;
  border: 2px solid #b51d44;
}

.titulo__texto--branco {
  color: white;
}

.titulo__linha--branca {
  border-color: white;
  cursor: no;
}
