.toggle {
    position: relative;
    display: flex;
    
    width: 28px;
    height: 18px;
    padding: 0 2px;
    border: 2px solid #201849;
    background-color: #fff;
    border-radius: 20px;
    cursor: pointer;
    
    /* transform: scale(1.1); */
    transition: 1.2s;
}

.toggle__switch {
    position: absolute;
    top: calc(50% - 7px);
    left: 1px;
    width: 14px;
    height: 14px;
    background-color: #201849;
    border: 1px solid #201849;
    border-radius: 50%;
    box-shadow: inset 0 0 16px 1px rgba(0, 0, 0, .15);
    /* transform: scale(1.5); */
    transition: 1.2s ;
}

.toggle__switch-check { display: none;}

.toggle--active {
    /* justify-content: flex-end; */
    border: 2px solid #B51D44;
    background-color: #B51D44;
}

.toggle__switch--active {
    left: auto;
    right: 1px;
    background-color: #fff;
    border-color: #fff;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: #201849;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #B51D44;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #B51D44;
  }
  
  input:checked + .slider:before {
    background-color: #fff;
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }


  @media screen and (min-width:992px) {
    
  }