.button {
  display: block;
  width: 300px;
  height: 40px;
  min-width: 150px;
  margin-bottom: 20px;
  background-color: rgb(239, 239, 239);
  color: black;
  text-align: center;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 5px;
}

.button:hover {
    opacity: .8;
}
.button--success {
  background-color: rgb(48, 134, 48);
  color: white;
}

.button--warning {
  background-color: rgb(222, 211, 3);
}

.button--danger {
  background-color: rgb(216, 39, 39);
  color: white;
}
.button--big {
    width: 100%;
}