.footerpage {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
}

.footer__rights {
    width: 100%;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
}